*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  ul{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }
  .contact-container{
    width: 1280px;
    margin: 0 auto;
  }
  .contact-header{
    display: flex;
    padding: 20px 32px;
    justify-content: space-between;
    background: var(--neutral-100, #F8F9FB);
    border-bottom: 1px solid var(--neutral-600, #EAEBF0);
    gap: 10px;
    align-items: center;
    text-align: center;
  
}

.letf-header{
    display: flex;
    align-items: center;
   
}
.contact-header-navbar{
    display: flex;
    list-style: none;
    gap: 32px;
}
.contact-header-navbar li a{
    text-decoration: none;
    color: var(--gray-700, #272D37);
    
}
.contact-header-navbar li{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 22px;
}
.right-header{
    display: flex;
    gap: 24px;
    
}
.sign-up-btn{
    border-radius: 5px;
    color: var(--primary-600, #437EF7);
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 22px;
    border: 1px #fff;
    background-color: #FFF;
}
.login-btn{
    border-radius: 6px;
    background: var(--primary-600, #437EF7);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
    color: var(--base-white, #FFF);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    border: none;
    padding: 12px 18px;
}
.contact-hero{
    background: var(--neutral-100, #F8F9FB);
    padding: 80px 30px 92px 30px;
    margin-bottom: 64px;
    
}
.contact-hero-txt{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}
.contact-hero span{
    color: var(--primary-600, #437EF7);
    text-align: center;
    font-size: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.1px;
}
.contact-hero p {
    color: var(--gray-700, #272D37);
    text-align: center;
    font-size: 52px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.52px;
}
.header-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-bottom: 64px;
}

.header-row-top{
display: flex;
gap: 32px;

}
.header-row-bottom{
display: flex;
gap: 32px;
}
.row-card{
display: flex;
flex-direction: column;
gap: 24px;
width: 384px;
height: 206px;
border: 1px solid #EAEBF0;
box-shadow : 0px 1px 2px 0px #1018280A;
padding: 24px 32px;
}
.vertical-container{
display: flex;
justify-content: space-between;
}
.row-button{
padding: 12px 18px;
justify-content: center;
align-items: center;
gap: 6px;
font-size: 15px;
font-family: 'Inter', sans-serif;
line-height: 22px;
border-radius: 6px;
border: 1px solid var(--neutral-700, #DAE0E6);
background: var(--base-white, #FFF);
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
cursor: pointer;
}


.text-container{
display: flex;
flex-direction: column;
gap: 8px;
}
.text-Wireless{
font-size: 22px;
font-family: 'Inter', sans-serif;
font-weight: 600;
line-height: 30px;
letter-spacing: -0.22px;
}
.text-Wireless-text{
font-size: 16px;
font-family: 'Inter', sans-serif;
line-height: 24px;
letter-spacing: -0.1px;
color: #5F6D7E;
}
.text-Synergistic{
font-size: 22px;
font-family: 'Inter', sans-serif;
font-weight: 600;
line-height: 30px;
letter-spacing: -0.22px;
}
.text-Synergistic-text{
font-size: 16px;
font-family: 'Inter', sans-serif;
line-height: 24px;
letter-spacing: -0.1px;
color: #5F6D7E;
}
.text-distrubed{
font-size: 22px;
font-family: 'Inter', sans-serif;
font-weight: 600;
line-height: 30px;
letter-spacing: -0.22px;
}
.text-distrubed-text{
font-size: 16px;
font-family: 'Inter', sans-serif;
line-height: 24px;
letter-spacing: -0.1px;
color: #5F6D7E;
}
.text-seamless{
font-size: 22px;
font-family: 'Inter', sans-serif;
font-weight: 600;
line-height: 30px;
letter-spacing: -0.22px;
}
.text-seamless-text{
font-size: 16px;
font-family: 'Inter', sans-serif;
line-height: 24px;
letter-spacing: -0.1px;
color: #5F6D7E;
}
.text-revolutionary{
font-size: 22px;
font-family: 'Inter', sans-serif;
font-weight: 600;
line-height: 30px;
letter-spacing: -0.22px;
}
.text-revolutionary-text{
font-size: 16px;
font-family: 'Inter', sans-serif;
line-height: 24px;
letter-spacing: -0.1px;
color: #5F6D7E;
}
.text-web-enabled{
font-size: 22px;
font-family: 'Inter', sans-serif;
font-weight: 600;
line-height: 30px;
letter-spacing: -0.22px;
}
.text-web-enabled-text{
font-size: 16px;
font-family: 'Inter', sans-serif;
line-height: 24px;
letter-spacing: -0.1px;
color: #5F6D7E;
}
.card-section{
    background: var(--gray-950, #151B28);
}
.hero-content{
    display: flex;
    gap: 140px;
    padding: 0px 64px;
    margin-bottom: 64px;
    padding-block: 64px;
}
.hero-content-left{
    max-width: 516px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-content-span{
    color: var(--primary-600, #437EF7);
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.1px;
    padding-bottom: 8px;
    
}
.hero-content-headline{
    color: var(--neutral-200, #F9F9F9);
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.32px;
    padding-bottom: 16px;
}
.hero-content-p{
    color: var(--neutral-800, #A5ACBA);
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 24px;
    letter-spacing: -0.1px;
    padding-bottom: 40px;
}
.hero-content-btn{
    display: flex;
    border-radius: 6px;
    background: var(--primary-600, #437EF7);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
    gap: 6px;
    padding: 12px 18px;
    color: var(--base-white, #FFF);
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 22px;
    border: none;
    max-width: 134px;
}
.footer{
    padding: 0px 64px;
    margin-top: 64px;
    margin-bottom: 64px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;   
}
.logo-section{
    flex-basis: 247px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-logo{
    display: flex;
    gap: 24px;
}
.headline{
    margin-bottom: 24px;
    color: var(--gray-700, #272D37);
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.1px;
}
.footer-nav-li {
    margin-bottom: 12px;
    color: var(--gray-50, #5F6D7E);
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    line-height: 24px;
    letter-spacing: -0.1px;
}
.footer-nav-li a{
    color: var(--gray-50, #5F6D7E);
}
.footer-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.home-container{
    width: 1280px;
    margin: 0 auto;
}
.block-header{
text-align: center;
padding-block: 64px;
display: flex;
flex-direction: column;
gap: 12px;

}
.block-header-headline{
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.02em;
  
}
.block-header-subtitle{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  color: #5F6D7E;
}
.header-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.header-row-top{
display: flex;
gap: 32px;

}
.header-row-bottom{
display: flex;
gap: 32px;
}
.row-card{
display: flex;
flex-direction: column;
gap: 24px;
width: 384px;
height: 206px;
border: 1px solid #EAEBF0;
box-shadow : 0px 1px 2px 0px #1018280A;
padding: 24px 32px;
}
.vertical-container{
display: flex;
justify-content: space-between;
}
.row-button{
padding: 12px 18px;
justify-content: center;
align-items: center;
gap: 6px;
font-size: 15px;
font-family: 'Inter', sans-serif;
line-height: 22px;
border-radius: 6px;
border: 1px solid var(--neutral-700, #DAE0E6);
background: var(--base-white, #FFF);
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
cursor: pointer;
}


.text-container{
display: flex;
flex-direction: column;
gap: 8px;
}
.text-Wireless{
font-size: 22px;
font-family: 'Inter', sans-serif;
font-weight: 600;
line-height: 30px;
letter-spacing: -0.22px;
}
.text-Wireless-text{
font-size: 16px;
font-family: 'Inter', sans-serif;
line-height: 24px;
letter-spacing: -0.1px;
color: #5F6D7E;
}
.text-Synergistic{
font-size: 22px;
font-family: 'Inter', sans-serif;
font-weight: 600;
line-height: 30px;
letter-spacing: -0.22px;
}
.text-Synergistic-text{
font-size: 16px;
font-family: 'Inter', sans-serif;
line-height: 24px;
letter-spacing: -0.1px;
color: #5F6D7E;
}
.text-distrubed{
font-size: 22px;
font-family: 'Inter', sans-serif;
font-weight: 600;
line-height: 30px;
letter-spacing: -0.22px;
}
.text-distrubed-text{
font-size: 16px;
font-family: 'Inter', sans-serif;
line-height: 24px;
letter-spacing: -0.1px;
color: #5F6D7E;
}
.text-seamless{
font-size: 22px;
font-family: 'Inter', sans-serif;
font-weight: 600;
line-height: 30px;
letter-spacing: -0.22px;
}
.text-seamless-text{
font-size: 16px;
font-family: 'Inter', sans-serif;
line-height: 24px;
letter-spacing: -0.1px;
color: #5F6D7E;
}
.text-revolutionary{
font-size: 22px;
font-family: 'Inter', sans-serif;
font-weight: 600;
line-height: 30px;
letter-spacing: -0.22px;
}
.text-revolutionary-text{
font-size: 16px;
font-family: 'Inter', sans-serif;
line-height: 24px;
letter-spacing: -0.1px;
color: #5F6D7E;
}
.text-web-enabled{
font-size: 22px;
font-family: 'Inter', sans-serif;
font-weight: 600;
line-height: 30px;
letter-spacing: -0.22px;
}
.text-web-enabled-text{
font-size: 16px;
font-family: 'Inter', sans-serif;
line-height: 24px;
letter-spacing: -0.1px;
color: #5F6D7E;
}
.block-footer{
text-align: center;
padding-block: 64px;
}
.block-footer-btn{
border-radius: 6px;
background: var(--primary-600, #437EF7);
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
font-size: 15px;
font-family: 'Inter', sans-serif;
font-weight: 600;
line-height: 22px;
color: #FFF;
padding: 12px 18px;
border: none;
}
.home-header{
display: flex;
padding: 20px 32px;
justify-content: space-between;
align-items: center;
text-align: center;
margin-bottom: 71px;
}

.letf-header{
display: flex;
align-items: center;

}
.home-header-navbar{
display: flex;
list-style: none;
gap: 32px;
}
.home-header-navbar li a{
text-decoration: none;
color: var(--gray-700, #272D37);

}
.home-header-navbar li{
font-size: 15px;
font-family: 'Inter', sans-serif;
font-weight: 600;
line-height: 22px;
}
.right-header{
display: flex;
gap: 24px;

}
.sign-up-btn{
border-radius: 5px;
color: var(--primary-600, #437EF7);
font-size: 15px;
font-family: 'Inter', sans-serif;
font-weight: 600;
line-height: 22px;
border: 1px #fff;
background-color: #FFF;
}
.login-btn{
border-radius: 6px;
background: var(--primary-600, #437EF7);
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
color: var(--base-white, #FFF);
font-family: 'Inter', sans-serif;
font-size: 15px;
font-weight: 600;
line-height: 22px;
border: none;
padding: 12px 18px;
}
.homepage-container{
padding: 0 32px;
}
.homepage-container-textline{
text-align: center;
display: flex;
flex-direction: column;
gap: 24px;
margin-bottom: 36px;

}
.homepage-container-headline{
color: var(--gray-700, #272D37);
text-align: center;
font-size: 52px;
font-family: 'Inter', sans-serif;
font-weight: 700;
line-height: 60px;
letter-spacing: -0.52px;
}
.homepage-container-text{
color: var(--gray-50, #5F6D7E);
text-align: center;
font-size: 18px;
font-family: Inter;
line-height: 26px;
letter-spacing: -0.1px; 
}
.homepage-button{
display: flex;
gap: 12px;
justify-content: center;
margin-bottom: 50px;
}
.homepage-getstarted-btn{
border-radius: 6px;
background: var(--primary-600, #437EF7);
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
color: var(--base-white, #FFF);
font-size: 15px;
font-family: 'Inter', sans-serif;
font-weight: 600;
line-height: 22px;
border: none;
padding: 12px 18px;
}
.homepage-contact-us-btn{
border-radius: 6px;
border: 1px solid var(--neutral-700, #DAE0E6);
background: var(--base-white, #FFF);
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
padding: 12px 18px;
color: var(--gray-700, #272D37);
font-size: 15px;
font-family: 'Inter', sans-serif;
font-weight: 600;
line-height: 22px;
}
.homepage-background-img{
background-image: url('/assets/img/homepage-hero.jpg');
 width: auto;
height: 385px;
margin-bottom: 64px;
}
.hero-textline{
display: flex;
flex-direction: column;
gap: 16px;
text-align: center;
margin-bottom: 64px;
padding: 0px 220px;

}
.hero-headline{
color: var(--gray-700, #272D37);
text-align: center;
font-family: 'Inter', sans-serif;
font-weight: 700;
line-height: 40px;
letter-spacing: -0.64px;
font-size: 32px;
}
.hero-text{
color: var(--gray-50, #5F6D7E);
text-align: center;
font-size: 16px;
font-family: 'Inter', sans-serif;
line-height: 24px;
letter-spacing: -0.1px;
}
.hero-content{
display: flex;
gap: 140px;
padding: 0px 32px;
margin-bottom: 64px;
}
.hero-content-left{
max-width: 516px;
display: flex;
flex-direction: column;
justify-content: center;
}
.hero-content-span{
color: var(--primary-600, #437EF7);
font-size: 14px;
font-family: 'Inter', sans-serif;
font-weight: 600;
line-height: 20px;
letter-spacing: -0.1px;
padding-bottom: 8px;

}
.hero-content-headline{
color: var(--gray-700, #272D37);
font-size: 32px;
font-family: 'Inter', sans-serif;
font-weight: 600;
line-height: 42px;
letter-spacing: -0.32px;
padding-bottom: 16px;
}
.hero-content-p{
color: var(--gray-50, #5F6D7E);
font-size: 16px;
font-family: 'Inter', sans-serif;
line-height: 24px;
letter-spacing: -0.1px;
padding-bottom: 40px;
}
.hero-content-btn{
display: flex;
border-radius: 6px;
background: var(--primary-600, #437EF7);
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
gap: 6px;
padding: 12px 18px;
color: var(--base-white, #FFF);
font-size: 15px;
font-family: 'Inter', sans-serif;
font-weight: 600;
line-height: 22px;
border: none;
max-width: 134px;
}
.hero-price-section{
background: var(--primary-900, #2B63D9);
padding: 64px 64px;
display: flex;
gap: 80px;
margin-bottom: 64px;
}
.hero-price-right{
flex-basis: 475px;
margin-top: 50px;
}

.hero-price-span{
color: var(--base-white, #FFF);
font-size: 14px;
font-family: 'Inter', sans-serif;
font-weight: 600;
line-height: 20px;
letter-spacing: -0.1px;
padding-bottom: 8px;

}
.hero-price-headline{
color: var(--base-white, #FFF);
font-size: 32px;
font-family: 'Inter', sans-serif;
font-weight: 600;
line-height: 42px;
letter-spacing: -0.32px;
padding-bottom: 16px;
}
.hero-price-p{
color: var(--primary-200, #B1CCFB);
font-size: 16px;
font-family: 'Inter', sans-serif;
line-height: 24px;
letter-spacing: -0.1px;
padding-bottom: 40px;
}
.hero-price-btn{
display: flex;
border-radius: 6px;
background: var(--primary-600, #437EF7);
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
gap: 6px;
padding: 12px 18px;
color: var(--base-white, #FFF);
font-size: 15px;
font-family: 'Inter', sans-serif;
font-weight: 600;
line-height: 22px;
border: none;
}
.hero-last-section{
display: flex;
gap: 124px;
background: var(--neutral-50, #FAFBFC);
margin-bottom: 64px;
}
.last-section-left{
display: flex;
flex-direction: column;
justify-content: center;
flex-basis: 532px;
 
}
.section-left-paragraph{
display: flex;
flex-direction: column;
gap: 8px;
padding-bottom: 24px;
}
.last-section-headline{
color: var(--gray-700, #272D37);
font-size: 32px;
font-family: 'Inter', sans-serif;
font-weight: 600;
line-height: 42px;
letter-spacing: -0.32px;
}
.last-section-p{
color: var(--gray-50, #5F6D7E);
font-size: 16px;
font-family: 'Inter';
line-height: 24px;
letter-spacing: -0.1px;

}
.last-section-list{
padding-bottom: 40px;
}
.last-section-list p{
color: var(--gray-50, #5F6D7E);
font-size: 16px;
font-family: 'Inter';
line-height: 24px;
letter-spacing: -0.1px;

}
.last-section-btn{
display: flex;
border-radius: 6px;
background: var(--primary-600, #437EF7);
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
gap: 6px;
padding: 12px 18px;
color: var(--base-white, #FFF);
font-size: 15px;
font-family: 'Inter', sans-serif;
font-weight: 600;
line-height: 22px;
border: none;
max-width: 134px;
cursor: pointer;

}
.cards-txt{
display: flex;
flex-direction: column;
text-align: center;
gap: 16px;
padding: 0 220px;
margin-bottom: 64px;

}
.cards-headline{
color: var(--gray-700, #272D37);

font-family: 'Inter', sans-serif;
font-weight: 700;
line-height: 40px;
letter-spacing: -0.64px;
font-size: 32px;
}
.cards-p{
color: var(--gray-50, #5F6D7E);
font-size: 16px;
font-family: 'Inter';
line-height: 24px;
letter-spacing: -0.1px;
}
.blog-card-section{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
margin-bottom: 133px;
}

.card-img{
position: relative;
}
.avatar{
position: absolute;
top: 224px;
right: 60px;
}
.card--txt{
padding: 24px 32px;
width: 363px;
}

.card-date{
display: flex;
align-items: center;
gap: 16px;
margin-bottom: 20px;
}
.topic{
font-size: 14px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
line-height: 20px;
letter-spacing: -0.1px;
color: var(--primary-600, #437EF7);
}
.date{
color: var(--gray-50, #5F6D7E);
font-size: 14px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
line-height: 20px;
letter-spacing: -0.1px;
}
.card-content{
display: flex;
flex-direction: column;
gap: 16px;
margin-bottom: 20px;
}
.card-post-p{
color: var(--gray-700, #272D37);
font-size: 22px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
line-height: 30px;
letter-spacing: -0.22px;
}
.card-post-content{
color: var(--gray-50, #5F6D7E);
font-size: 16px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.1px;
}
.card-section-btn{
display: flex;
color: var(--primary-600, #437EF7);
font-size: 15px;
font-family: 'Inter';
border-radius: 5px;
background-color: #FFF;
border-color: #FFF;
line-height: 22px;
gap: 6px;
}
.home-customer{
display: flex;
flex-direction: column;
gap: 64px;
margin-bottom: 64px;
}
.customer-txt{
display: flex;
flex-direction: column;
text-align: center;
padding: 0px 32px;
gap: 16px;

}
.customer-h{
color: var(--gray-700, #272D37);
text-align: center;
font-size: 32px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: -0.64px; 
}
.customer-p{
color: var(--gray-50, #5F6D7E);
text-align: center;
font-size: 16px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.1px; 
}
.customer-analiz{
display: flex;
padding: 0px 32px;
align-items: center;
gap: 48px;
justify-content: space-between;
}
.customer-logo{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16px;
flex: 1;
}
.customer-stars{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 24px;
flex: 1;
}
.customer-analytics{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16px;
flex: 1;

}
.customer-analiz p {
color: var(--gray-700, #272D37);
text-align: center;
font-size: 16px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: -0.1px;
}
.home-input{
display: flex;
align-items: center;
padding: 0px 32px;
margin-bottom: 128px;   
}
.input-left{
flex-basis: 568px;
}
.input-txt p{
color: var(--gray-700, #272D37);
font-size: 32px;
font-family: Inter;
font-style: normal;
font-weight: 600;
line-height: 42px;
letter-spacing: -0.32px;  
}
.input-bg{
display: flex;
padding: 40px 64px;
align-items: center;
gap: 80px;
flex: 1 0 0;
border-radius: 10px;
background: var(--neutral-100, #F8F9FB);
}
.input-txt{
display: flex;
flex-direction: column;
gap: 8px;
}
.text-input{
display: flex;
}
.email-input{
padding: 12px 16px;
align-items: center;
border-radius: 6px 0px 0px 6px;
border: 1px solid var(--neutral-700, #DAE0E6);
background: var(--base-white, #FFF);
width: 440px;
}
.text-input button{
color: var(--base-white, #FFF);
font-size: 15px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
line-height: 22px;
border-radius: 0px 6px 6px 0px;
background: var(--primary-600, #437EF7);
border: 1px solid var(--neutral-700, #DAE0E6);
padding: 12px 16px;
}
.footer{
padding: 0px 32px;
margin-top: 64px;
margin-bottom: 64px;
}
.footer-top{
display: flex;
justify-content: space-between;
margin-bottom: 64px;   
}
.logo-section{
flex-basis: 247px;
display: flex;
flex-direction: column;
gap: 16px;
}
.footer-logo{
display: flex;
gap: 24px;
}
.headline{
margin-bottom: 24px;
color: var(--gray-700, #272D37);
font-size: 16px;
font-family: Inter;
font-style: normal;
font-weight: 600;
line-height: 24px;
letter-spacing: -0.1px;
}
.footer-nav-li {
margin-bottom: 12px;
color: var(--gray-50, #5F6D7E);
font-size: 16px;
font-family: Inter;
font-style: normal;
line-height: 24px;
letter-spacing: -0.1px;
}
.footer-nav-li a{
color: var(--gray-50, #5F6D7E);
}
.footer-bottom{
display: flex;
flex-direction: column;
align-items: center;
gap: 16px;
}
.support-header{
    border-bottom: 1px solid var(--neutral-600, #EAEBF0);
    margin-bottom: 32px;
}
 
.support-container{
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
    background: var(--base-white, #FFF);
    gap: 10px;
    align-items: center;
    text-align: center;
    width: 1280px;
    margin: 0px auto;
   
}

.letf-header{
    display: flex;
    align-items: center;
   
}
.support-container-navbar{
    display: flex;
    list-style: none;
    gap: 32px;
}
.support-container-navbar li a{
    text-decoration: none;
    color: var(--gray-700, #272D37);
    
}
.support-container-navbar li{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 22px;
}
.right-header{
    display: flex;
    gap: 24px;
    
}
.sign-up-btn{
    border-radius: 5px;
    color: var(--primary-600, #437EF7);
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 22px;
    border: 1px #fff;
    background-color: #FFF;
}
.login-btn{
    border-radius: 6px;
    background: var(--primary-600, #437EF7);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
    color: var(--base-white, #FFF);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    border: none;
    padding: 12px 18px;
}
.support-content{
    width: 1280px;
    margin: 0px auto;
}
.support-content-headline{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 48px;
}
.support-content-headline h1 {
    color: var(--gray-700, #272D37);
    font-size: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.8px;
    }
    .headline-p{
        color: var(--gray-50, #5F6D7E);
        font-size: 16px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.1px;
    }.support-label{
        display: flex;
        gap: 16px;
        margin-bottom: 30px;
    }
    .support-label button{
        display: flex;
        padding: 2px 8px;
        align-items: center;
        border-radius: 5px;
        background: var(--primary-25, #F5FAFF);
        border: none;
        color: var(--primary-600, #437EF7);
        font-size: 14px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.1px;
    }
    .autor-avatar{
        display: flex;
        align-items: center;
    }
    .autor-avatar p{
        color: var(--gray-50, #5F6D7E);
        font-size: 14px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.1px;

    }
    .support-content-container{
        display: flex;
        gap: 48px;
    }
    .support-content-container h2{
        color: var(--gray-700, #272D37);
        font-size: 22px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: -0.22px;
    }
    .container-txt{
        display: flex;
        flex-direction: column;
        gap: 24px;
        flex-basis: 1150px;
        
        
    }
    .container-txt p {
        color: var(--gray-50, #5F6D7E);
        font-size: 16px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.1px;
    }
    .container-txt-img{
        margin-top: 48px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .img-description{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .txt-button{
        margin: 48px 0px;
        display: flex;
        gap: 32px;
        align-items: center;
    }
    .txt-btn{
        display: flex;
        gap: 16px;
        
    }
    .txt-btn button{
        padding: 12px;
        border-radius: 6px;
        border: 1px solid var(--neutral-700, #DAE0E6);
        background: var(--base-white, #FFF);
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
        
}
        
    .txt-button h2{
        flex-grow: 1;
    }
    .website-side-bars{
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 328px;
        height: 650px;
        border-radius: 10px;
        border: 1px solid var(--neutral-600, #EAEBF0);
        background: var(--base-white, #FFF);
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
    }
    .web-site-bars-managment{
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 24px 24px;
    }
    .side-bars-category{
        display: flex;
        flex-direction: column;
        gap: 24px;      
    }
    .website-side-bars h3{
        color: var(--gray-700, #272D37);
        font-size: 18px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: -0.1px;
    }
    .category-content {
        display: flex;
        flex-direction: column;
        padding-inline-start: 0px;
        gap: 18px;
    }
    .side-bars-other{
        display: flex;
        flex-direction: column;
        gap: 24px;
      
    }
    .other-content{
        display: flex;
        flex-direction: column;
        padding-inline-start: 0px;
        gap: 18px;
    }
    .content-link{
        display: flex;
        gap: 6px;
    }
    .website-side-bars p{
        color: var(--gray-700, #272D37);
        font-size: 15px;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
    }
    .view-btn{
        padding-inline: 32px;
        margin:48px 0px 128px 0px;
        text-align: center;
    }
    .view-btn button{
        border-radius: 6px;
        background: var(--primary-600, #437EF7);
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
        font-size: 15px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        color: var(--base-white, #FFF);
        padding: 12px 28px;
        border: none;
    }
    .support-features{
        display: flex;
        flex-direction: column;
        gap: 64px;
    }
    .features-headline{
        display: flex;
        flex-direction: column;
        gap: 16px;
       text-align: center;
       padding-inline: 32px;
    }
    .features-headline h1{
        font-size: 32px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -0.64px;
        color: var(--gray-700, #272D37);    
    }
    .features-headline p {
        font-size: 16px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.1px;
        color: var(--gray-50, #5F6D7E);
    }
    .features-box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        
        
    }
    .featues-contact{
        border-radius: 5px;
        border: 1px solid var(--neutral-600, #EAEBF0);
        background: var(--base-white, #FFF);
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
        padding: 32px 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 16px;
    }
    .features-box-txt{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .support-features p{
        color: var(--gray-700, #272D37);

        font-size: 22px;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: -0.22px;
    }
    .support-features span{
        color: var(--gray-50, #5F6D7E);
        font-size: 16px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.1px;
    }
    .support-footer{
        background: var(--gray-950, #151B28);
        padding: 40px 0px 64px 0px;
        margin-top: 45px;
    }
    .footer-content{
        display: flex;
        flex-direction: column;
    }
    .footer-call-to-action{
        display: flex;
        gap: 128px;
    }
    .call-to-action-content{
        flex-grow: 1;
    }
    .call-to-action-content p{
        color: var(--neutral-200, #F9F9F9);
        font-size: 32px;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        line-height: 42px;
        letter-spacing: -0.32px;
    }
    .cta-button{
        display: flex;
        gap: 16px;
    }
    .cta-sign-up{
        padding: 12px 18px;
        border-radius: 6px;
        background: var(--primary-600, #437EF7);
        font-size: 15px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        color: var(--primary-50, #F5F8FE);
        border: none;
    }
    .cta-log-in{
        padding: 12px 18px;
        border-radius: 6px;
        border: 1px solid var(--gray-300, #2E3545);
        background: var(--gray-600, #2C3444);
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
        color: var(--neutral-200, #F9F9F9);
        font-size: 15px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
    }
    hr.footer-hr{
        border: 1px solid #2E3545;
        margin-block: 48px;
    }
    
    .footer-top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 64px;   
    }
    .logo-section{
        flex-basis: 247px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .footer-logo{
        display: flex;
        gap: 24px;
    }
    .headline{
        margin-bottom: 24px;
        color: var(--neutral-200, #F9F9F9);
        font-size: 16px;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.1px;
    }
    .footer-nav-li {
        margin-bottom: 12px;
        color: var(--neutral-800, #A5ACBA);
        font-size: 16px;
        font-family: Inter;
        font-style: normal;
        line-height: 24px;
        letter-spacing: -0.1px;
    }
    .footer-nav-li a{
        color: var(--neutral-800, #A5ACBA);
    }
    .footer-bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }